ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.icon{
    margin-right: 10px;
}
#mug{
    color: rgb(194, 144, 84);
}
#gym{
    color: rgb(105, 93, 93);
}
#anime{
    color: rgb(184, 71, 212);
}
#piano{
    color: rgb(104, 182, 255);
}