.banner{
    background: rgba(193, 205, 218, 0.144);
    max-width: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2rem;
}
.bannerContent{
        max-width: 960px;
        margin: auto;
        padding: 1rem 1.0875rem 1.45rem;
        p{
            color: rgba(128, 128, 128, 0.596);
            font-size: 1.5rem;
        }
}
.profPic{
    max-width: 100px;
    border-radius: 50%;
    margin: 1rem;
}