@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.content{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    max-width: 960px;
    margin: auto;
    padding: 0px 1.0875rem 1.45rem;
    p{
        margin: 0;
    }
}
#tel{
    color: rgb(91, 91, 212);
    font-size: 1.2rem;
}
#mail{
    color: rgb(235, 206, 46);
    font-size: 1.2rem;
}
label{
  display: block;
}
form div{
  padding: 0.6rem;
}
input, textarea {
  background: rgba(193, 205, 218, 0.144);
  border-radius: 4px;
}
#submitForm{
  border: 2px solid rgba(128, 128, 128, 0.596);
  background: rgba(193, 205, 218, 0.144);
  border-radius: 4px;
  color: #333;
}
#submitForm:hover{
  cursor: pointer;
  background: rgba(128, 128, 128, 0.596);
  color: white;
}
@media all and (min-width: 650px){
  .contact-container{
    display: flex;
    .contact-info{
      margin-left: auto;
      margin-right: 2rem;
    }
  }
}