.navBar{
    background: white;
    border-bottom: 1px solid lightgrey;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.container{
    margin: 10px 0px;
    display: flex;
    list-style: none;
}
li{
    display: inline;
    :hover{
        color: rgb(51, 131, 180);
    }
}
.myName{
    margin-right: auto;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navLinks{
    color: black;
    text-decoration: none;
    padding: 6px 0px;
    margin: 0px 1rem;
    letter-spacing: 1px;
}
.options-toggle, .small-screen-nav{
    display: none;
    margin: 0;
}
.options-toggle:focus{
    outline: none;
}
.small-screen-nav-on{
    display: block;
    background: rgba(193, 205, 218, 0.144);
    li{
        .navLinks{
            display: block;
        }
    }
    padding-top: 4px;
}
 
@media all and (min-width: 601px){
    .small-screen-nav-on{
        display: none;
    }
}

@media all and (max-width: 600px) {
    .options-toggle{
        display: block;
        background-color: white;
        font-size: 1.5rem;
        border: none;
        padding: 0px 10px 5px 10px;
        :hover{
            cursor: pointer;
            color: rgb(51, 131, 180);
        }
    }
    .large-screen-nav{
        display: none;
    }
  }