.portfolio{
    width: 100%;
}
.project1, .project2{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2rem;
    padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}
.projImg{
    box-shadow: 1px 1px 1px 1px lightgrey;
}
.img{
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
} 
.projText{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 1.5rem;
    h3{
        margin-bottom: 1rem;
    }
    a{
    text-decoration: none;
    color: black;
    margin-top: 2.5rem;
    }
    a:hover{
    color: rgb(51, 131, 180);
    }
}
.github{
    color: grey;
}

@media all and (max-width: 600px) {
    .img{
        width: 100%;
        margin: auto;
    }
    .projText{
        width: 100%;
    }
}